/* line 4, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 21, ../../app/stylesheets/screen.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  background-color: #161616;
}
/* line 68, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 70, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 71, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 72, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 73, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 74, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 75, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 76, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 80, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #000066;
}
/* line 22, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: black;
}
/* line 26, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: black;
}
/* line 30, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #cc0099;
}
/* line 81, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 82, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong {
  font-weight: bold;
}
/* line 83, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em {
  font-style: italic;
}
/* line 84, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 85, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 86, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 87, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 88, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 89, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 90, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 91, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 92, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 93, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 94, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 95, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 97, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 98, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 99, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 100, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 101, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 102, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tr.even td {
  background: #e5ecf9;
}
/* line 103, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 104, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 105, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 106, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}
/* line 9, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clear {
  clear: both;
}
/* line 12, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
  background: url('/images/grid.png?1283916265');
}
/* line 4, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a {
  color: #8a1f11;
}
/* line 6, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #514721;
}
/* line 8, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a {
  color: #264409;
}
/* line 10, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide {
  display: none;
}
/* line 12, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight {
  background: yellow;
}
/* line 14, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed {
  background: #990000;
  color: white;
}
/* line 42, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 45, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 48, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 50, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 52, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 54, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body form.inline {
  line-height: 3;
}
/* line 6, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form.inline p {
  margin-bottom: 0;
}
/* line 30, ../../app/stylesheets/screen.scss */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 36, ../../app/stylesheets/screen.scss */
body #header, body #footer, body #content {
  display: inline;
  float: right;
  position: relative;
  margin: 0 -240px 1.5em 240px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 139, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #header, * html body #footer, * html body #content {
  overflow-x: hidden;
}
/* line 41, ../../app/stylesheets/screen.scss */
body #content {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}
/* line 47, ../../app/stylesheets/screen.scss */
body #content form {
  margin-bottom: 10px;
}
/* line 18, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form label {
  font-weight: bold;
}
/* line 19, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form input.text, body #content form input.title, body #content form input[type=email], body #content form input[type=text], body #content form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form input.title {
  font-size: 1.5em;
}
/* line 31, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form input[type=checkbox], body #content form input.checkbox, body #content form input[type=radio], body #content form input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form textarea {
  margin: 0.3em 0;
  padding: 3px;
}
/* line 34, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form select {
  margin: 0.5em 0;
}
/* line 59, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form input.text, body #content form input.title, body #content form input[type=email], body #content form input[type=text], body #content form input[type=password],
body #content form textarea, body #content form select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form input.text:focus, body #content form input.title:focus, body #content form input[type=email]:focus, body #content form input[type=text]:focus, body #content form input[type=password]:focus,
body #content form textarea:focus, body #content form select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form input.text, body #content form input.title, body #content form input[type=email], body #content form input[type=text], body #content form input[type=password] {
  width: 300px;
}
/* line 50, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body #content form textarea {
  width: 390px;
  height: 250px;
}
/* line 50, ../../app/stylesheets/screen.scss */
body #content form fieldset {
  border: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 56, ../../app/stylesheets/screen.scss */
body #content form fieldset label {
  display: inline-block;
  width: 120px;
}
/* line 64, ../../app/stylesheets/screen.scss */
body #content form input[type=submit] {
  background: #222222 url(../images/overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}
/* line 78, ../../app/stylesheets/screen.scss */
body #content form input[type=submit]:hover {
  background-color: #111;
  color: #fff;
}
/* line 83, ../../app/stylesheets/screen.scss */
body #content form ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 89, ../../app/stylesheets/screen.scss */
body #content form textarea {
  height: 57px;
  width: 98%;
}
/* line 94, ../../app/stylesheets/screen.scss */
body #content form li.commit {
  text-align: right;
}
/* line 100, ../../app/stylesheets/screen.scss */
body #content #flash .alert {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body #content #flash .alert a {
  color: #514721;
}
/* line 105, ../../app/stylesheets/screen.scss */
body #content .shouts {
  padding-top: 5px;
}
/* line 108, ../../app/stylesheets/screen.scss */
body #content .shouts .shouty {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-bottom: 5px;
}
/* line 139, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content .shouts .shouty {
  overflow-x: hidden;
}
/* line 113, ../../app/stylesheets/screen.scss */
body #content .shouts .shouty .avatar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  margin-right: -10px;
}
/* line 139, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content .shouts .shouty .avatar {
  overflow-x: hidden;
}
/* line 118, ../../app/stylesheets/screen.scss */
body #content .shouts .shouty .body {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
  margin-right: 0;
}
/* line 139, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content .shouts .shouty .body {
  overflow-x: hidden;
}
/* line 123, ../../app/stylesheets/screen.scss */
body #content .shouts .shouty .user, body #content .shouts .shouty .date {
  color: #666666;
  display: inline;
}
/* line 130, ../../app/stylesheets/screen.scss */
body #content #update_shouts {
  display: none;
}
/* line 135, ../../app/stylesheets/screen.scss */
body #header {
  margin-bottom: 0px;
}
/* line 138, ../../app/stylesheets/screen.scss */
body #header h1 {
  color: #ffffff;
  margin: 10px;
  float: left;
}
/* line 144, ../../app/stylesheets/screen.scss */
body #header .logout {
  float: right;
  margin-top: 30px;
}
/* line 148, ../../app/stylesheets/screen.scss */
body #header .logout a {
  text-decoration: none;
  color: white;
}
/* line 4, ../../../.bundle/ruby/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
body #header .logout a:hover {
  text-decoration: underline;
}

